@page "/bank"
@using Services;
@inject BankingService bankingService

<PageTitle>Bank</PageTitle>

<h1>Counter</h1>
<div class="controls">
    <label>Login with id: </label>
    <input type="text" @bind="@userIdInput">
    <button class="btn btn-primary" @onclick="Login">Login</button>
    <label>@loginResult</label>
</div>

@*<div class="controls">
    <label>@informationLabel</label>
</div>*@

<div class="controls">Create payment:</div>

<div class="controls">
    <label>Recipient</label>
    <input type="text" @bind="@recipientIdInput">
</div>
<div class="controls">
    <label>Amount: </label>
    <input type="text" @bind="@amountInput">
</div>
<div class="controls">
    <label>Description: </label>
    <input type="text" @bind="@description">
</div>

<div class="controls">
    <button class="btn btn-primary" @onclick="CreatePayment">Create payment</button>
</div>

<div class="grid-container">
    <div>Payments:</div>
    <div>Transactions:</div>

    <div class="grid-item">
        <ul>
            @foreach (var payment in this.bankingService.Payments)
            {
                <li>Created a payment (@payment.Description) to  @(@payment.Recipient.Id != 0 ? payment.Recipient.Name : payment.Recipient.Id) of @payment.Amount with Status: @payment.Status</li>
            }
        </ul>
    </div>

    <div class="grid-item">
        <ul>
            @foreach (var transaction in this.bankingService.Transactions)
            {
                <li>@transaction.Sender.Id sent @transaction.Amount to @transaction.Recipient.Id: @transaction.Description</li>
            }
        </ul>
    </div>
</div>

@code {
    private string loginResult { get; set; } = "";
    private string userIdInput { get; set; } = "";
    private string recipientIdInput { get; set; } = "";
    private string amountInput { get; set; } = "";
    private string description { get; set; } = "";
    private int userId { get; set; } = -1;
    private bool isLoggedIn { get; set; } = false;

    private string currentCount = "";

    private async Task Login()
    {
        this.loginResult = "Logging in or creating user...";
        this.userId = await this.bankingService.LoginAsync(userIdInput);
        this.isLoggedIn = true;

        this.loginResult = "Logged in with ID " + userId;
        await this.bankingService.GetPaymentsAfterLoginAsync(userId);
        await this.bankingService.GetTransactionsAfterLoginAsync(userId);
        this.bankingService.OnUpdate += BankingService_OnUpdate;
    }

    private async Task CreatePayment()
    {
        if (!this.isLoggedIn)
        {
            return;
        }

        if (int.TryParse(this.recipientIdInput, out var recipientId) && double.TryParse(this.amountInput, out var amount))
        {
            await this.bankingService.CreatePaymentAsync(this.userId, recipientId, amount, this.description);
        }
    }

    private void BankingService_OnUpdate(object? sender, EventArgs e)
    {
        this.StateHasChanged();
    }
}
